.meal {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px $shadow;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;

  &--description {
    white-space: nowrap;
    overflow: hidden;
  }

  &--description h3 {
    margin: 15px 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
  }

  &--description p {
    opacity: 0.7;
    margin: 5px 0 15px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--price_check {
    display: flex;
  }

  &--price {
    display: flex;
    align-items: flex-end;
    margin: 0 30px 15px 10px;
  }

  &--check {
    background-color: #99e2d0;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 0 15px 15px 0;
    margin-right: -80px;
  }

  &--icon {
    font-size: 25px;
    padding: 25px;
    transform: rotateZ(-180deg);
    transition: 0.8s;
  }
}
