///////// LOADER ////////
.bloc {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to left top,
    rgba(146, 86, 220, 0.98),
    rgba(255, 121, 217, 0.98) 30%,
    rgba(255, 121, 217, 0.98) 70%,
    rgba(146, 86, 220, 0.98)
  );
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  animation: endAnim;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;

  &::before {
    content: "";
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 46.5%;
    color: $color-primary;
    font-weight: 700;
    z-index: 2;
    animation: percentAnim 1.6s linear;
    animation-delay: 1s;
    animation-fill-mode: both;
  }

  &--loader {
    position: relative;
    background: url(../../assets/logo/logo_onglet.ico) center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    z-index: 1;
  }

  &--loader::before {
    content: "";
    background-color: transparent;
    width: 180px;
    height: 180px;
    border-top: solid 5px $color-primary;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    animation: rotationAnim;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

//////// HOVER ANIMATION /////////
// ACCUEIL SECTION & ARTICLE

.listing:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 10px $shadow;
  transition: 0.5s;
}

.listing--i:hover {
  color: $color-primary;
}

.eatery {
  &--card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 10px $shadow;
    transition: 0.5s;
  }

  &--news {
    animation: flashAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

.heart--solid:hover {
  background: linear-gradient($color-primary, $color-secondary);
  -webkit-background-clip: text;
  font-weight: 900;
  background-position: bottom;
  background-repeat: no-repeat;
  animation: heartAnim linear 0.5s;
}

.footer a:hover {
  opacity: 0.5;
  transition: 0.5s;
}

// MENU HEADER
.header--return:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

// MENU SECTION & ARTICLE
.meal-anim01 {
  animation: appearanceAnim;
  animation-delay: 0.2s;
  animation-duration: 0.8s;
  transform: scale(0);
  animation-fill-mode: both;
}
.meal-anim02 {
  animation: appearanceAnim;
  animation-delay: 0.4s;
  animation-duration: 0.8s;
  transform: scale(0);
  animation-fill-mode: both;
}
.meal-anim03 {
  animation: appearanceAnim;
  animation-delay: 0.6s;
  animation-duration: 0.8s;
  transform: scale(0);
  animation-fill-mode: both;
}
.meal-anim04 {
  animation: appearanceAnim;
  animation-delay: 0.8s;
  animation-duration: 0.8s;
  transform: scale(0);
  animation-fill-mode: both;
}
.meal-anim05 {
  animation: appearanceAnim;
  animation-delay: 1s;
  animation-duration: 0.8s;
  transform: scale(0);
  animation-fill-mode: both;
}
.meal-anim06 {
  animation: appearanceAnim;
  animation-delay: 1.2s;
  animation-duration: 0.8s;
  transform: scale(0);
  animation-fill-mode: both;
}
.meal-anim07 {
  animation: appearanceAnim;
  animation-delay: 1.4s;
  animation-duration: 0.8s;
  transform: scale(0);
  animation-fill-mode: both;
}
.meal-anim08 {
  animation: appearanceAnim;
  animation-delay: 1.6s;
  animation-duration: 0.8s;
  transform: scale(0);
  animation-fill-mode: both;
}
.meal-anim09 {
  animation: appearanceAnim;
  animation-delay: 1.8s;
  animation-duration: 0.8s;
  transform: scale(0);
  animation-fill-mode: both;
}

.meal-anim10 {
  animation: appearanceAnim;
  animation-delay: 2s;
  animation-duration: 0.8s;
  transform: scale(0);
  animation-fill-mode: both;
}

.meal:hover {
  padding-right: 60px;
  transition: 0.5s;
}

.meal:hover .meal--icon {
  transform: rotate(0deg);
  transition: 0.8s;
}

//////////// KEYFRAMES //////////

// LOADER
@keyframes endAnim {
  from {
    opacity: 100%;
  }
  to {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes rotationAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes percentAnim {
  0% {
    top: 45%;
  }
  5% {
    content: "0%";
    top: 50%;
  }
  10% {
    content: "0%";
  }
  20% {
    content: "0%";
  }
  25% {
    content: "10%";
  }
  30% {
    content: "20%";
  }
  35% {
    content: "30%";
  }
  40% {
    content: "40%";
  }
  50% {
    content: "50%";
  }
  60% {
    content: "50%";
  }
  60% {
    content: "50%";
  }
  70% {
    content: "50%";
  }
  80% {
    content: "50%";
  }
  85% {
    content: "60%";
  }
  90% {
    content: "70%";
  }
  95% {
    content: "80%";
  }
  97% {
    content: "90%";
  }
  100% {
    content: "100%";
  }
}

// HEART
@keyframes heartAnim {
  0% {
    background-size: 100% 0%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@keyframes flashAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearanceAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
