// MOBILE LOCATION
@mixin mobile-location {
  @media (max-width: map-get($breakpoints, mobile)) {
    background-color: $background-primary;
  }
}

// TABLET MAIN
@mixin tablet-main {
  @media (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)) {
    margin-top: 300px;
  }
}

// DESKTOP HEADER IMG SUBTITLE
@mixin desktop-main {
  @media (min-width: map-get($breakpoints, desktop-min)) {
    margin-top: 400px;
  }
}

// DESKTOP MAIN
@mixin desktop-img_subtitle {
  @media (min-width: map-get($breakpoints, desktop-min)) {
    height: 500px;
    object-position: 0 80%;
  }
}
