// COLORS
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$background-primary: #e3e3e3;
$background-secondary: #f4f4f4;
$background-tertiary: #fafafa;
$shadow: #00000066;

// Maps
$breakpoints: (
  "mobile": 767px,
  "tablet": 1024px,
  "desktop": 1025px,
);
