// SECTION LOCATION
.location {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  &--i {
    font-size: 20px;
  }

  &--span {
    font-size: 20px;
    margin-left: 20px;
  }
}

// SECTION DICOVERY
.discovery {
  background-color: $background-secondary;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px 40px 50px;

  &--title {
    margin-bottom: 0;
  }

  &--btn {
    margin: 20px auto 0;
  }
}

// SECTION FUNCTIONING
.functioning {
  padding: 50px 20px 0 25px;

  &--title {
    padding: 0 0 30px 20px;
  }
}

// SECTION RESTAURANT
.restaurants {
  background-color: $background-secondary;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 20px 60px;

  &--title {
    padding-top: 40px;
    padding-left: 20px;
  }
}
